<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejs</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, vel eius
      natus voluptatum hic, libero dignissimos nam doloribus excepturi quisquam
      doloremque eum necessitatibus amet sapiente expedita quod atque. Est,
      magnam.
    </p>
    <%= new Date().toString() %>
  </body>
</html>
